<script>
export default {
  name: "aboutOurWork"
}
</script>

<template>
  <div id="aboutOurWork" class="box2 anchor">
    <div class="wrapper">
      <h2>Почему мы?</h2>
      <ol class="aboutOurWork">
        <li class="aboutOurWorkItem" data-aos="fade-right">
          Мы официально работающая компания
        </li>
        <li class="aboutOurWorkItem" data-aos="fade-left">
          Официальное трудоустройство
        </li>
        <li class="aboutOurWorkItem" data-aos="fade-right">
          Своевременная оплата труда
        </li>
        <li class="aboutOurWorkItem" data-aos="fade-left">
          Помощь в оформлении документов
        </li>
        <li class="aboutOurWorkItem" data-aos="fade-right">
          Сопровождение клиента до и после подписания договора
        </li>
        <li class="aboutOurWorkItem" data-aos="fade-left">
          Не берем денег за устройство на работу
        </li>
      </ol>
    </div>
  </div>
</template>

<style lang="scss">

.aboutOurWork {
  list-style: none;
  counter-reset: li;
  padding: 0;
  margin: 0 0 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &Item {
    font: 24px/1 'Arial';
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &::before {
      height: 70px;
      width: 70px;
      display: block;
      text-align: center;
      flex: none;
      color: #00B800;
      border: 1px #F9B233 solid;
      box-shadow: inset -12px 0 14px 0 #F9B233;
      border-radius: 50%;
      background-color: white;
      font: 40px/70px 'Arial';
      margin: 0 20px 0 0;
      counter-increment: li;
      content: counters(li, ".")
    }

    &:nth-child(odd) {
      flex-direction: row-reverse;
      text-align: right;
      &::before {
        margin: 0 0 0 20px
      }
    }

    @media (min-width: 540px) {
                 padding: 0 0 0 50%;

             &:nth-child(odd) {
                 padding: 0 50% 0 0
             }
         }
  }
}
</style>