<template>
  <div id="boxVideo" class="box1 anchor">
    <swiper-top/>
    <div class="logoBig">
      <img src="../assets/images/logoMin.png" alt="Varces"><span>ARCES</span>
    </div>
    <div class="boxTop"
         :scroll="handleScroll">

      <div class="boxTopInner">
        <div class="logo">
          <a href="#boxVideo" class="scroll-to scrollLink">
            <img src="../assets/images/logoMin.png" alt="Varces"><span>ARCES</span>
          </a>
        </div>
        <div class="openMenu"
             @click="toggleOpenMenu"
             :class="{open: topMenuVisibility}">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="dopText">
          кадровое агенство
        </div>
        <ul id="top-menu" class="topMenu" :class="{open: topMenuVisibility}">
          <li class="liLogo">
            <a href="#boxVideo" class="scroll-to">
              Varces
            </a>
          </li>
          <li
            v-for="(n, i) in items">
            <a
              @click="toggleOpenMenu"
              v-for="(n, i) in items"
              :href="`#${i}`"
              href="#aboutOurWork"
              class="scroll-to">
              О нашей работе
            </a>
          </li>
          <li><a @click="toggleOpenMenu" href="#vacancy" class="scroll-to">Вакансии</a></li>
          <li><a @click="toggleOpenMenu" href="#partners" class="scroll-to">Наши работники</a></li>
          <li><a @click="toggleOpenMenu" href="#contacts" class="scroll-to">Контакты</a></li>
        </ul>
        <div class="boxTopInnerRight">
          <a href="tel:+48720754337" class="phone">+48 720 754 337</a>
        </div>
      </div>
    </div>
    <div class="boxTopRight">
      <a href="tel:+48720754337" class="phone">+48 720 754 337</a>
    </div>
  </div>
</template>

<script>
import SwiperTop from "./swiperTop.vue";

export default {
  name: "boxOne",
  components: {SwiperTop},
  data: () => ({
    topMenuVisibility: false,
    items: [...Array(1)],
  }),
  created() {
    window.addEventListener('scroll', this.handleScroll);
    window.addEventListener('resize', this.closeMenu)
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    closeMenu() {
      this.topMenuVisibility = false;
    },
    toggleOpenMenu() {
      this.topMenuVisibility = !this.topMenuVisibility;
    },
    handleScroll() {
      let boxTop = document.querySelector('.boxTop');
      let heightBoxTop = document.querySelector('.box1').scrollHeight;
      if (window.scrollY >= heightBoxTop) {
        boxTop.classList.add('fixed')
      } else {
        boxTop.classList.remove('fixed')
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>