<script>
export default {
  name: "contacts"
}
</script>

<template>
  <div id="contacts" class="box7 anchor">
    <div class="wrapper">
      <div class="contactsTop" data-aos="zoom-in-up">
        <div class="contactsTopLogo">
          <img src="../assets/images/logoMin.png" alt="Varces"><span>ARCES</span>
        </div>
<!--        <div class="contactsTopSlogan">
          Реестр
        </div>-->
      </div>
      <div class="contactsList">
        <div class="contactsList-items">
          <div class="contactsList-items-title">
            Телефон и почта
          </div>
          <div class="contactsList-items-item">
            <a href="tel:+48720754337">+48 720 754 337</a>
          </div>
          <div class="contactsList-items-item">
            <a href="tel:+48669736249">+48 669 736 249</a>
          </div>
          <div class="contactsList-items-item">
            <a href="tel:+48720774247">+48 720 774 247</a>
          </div>
          <div class="contactsList-items-item">
            <a href="mailto:kornilevskavarces@gmail.com">kornilevskavarces@gmail.com</a>
          </div>
        </div>
        <div class="contactsList-items">
          <div class="contactsList-items-title">
            Мессенджеры
          </div>
          <div class="contactsList-items-item">
            <a href="viber://chat?number=%2B48669736249" class="viber">viber</a>
          </div>
          <div class="contactsList-items-title">
            Мы в соцсетях
          </div>
          <div class="fuuterSocset">
<!--            <a target="_blank" href="https://www.instagram.com/varces_sp.z.o.o/?utm_medium=copy_link">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                   id="Layer_1" x="0px" y="0px" viewBox="0 0 551.034 551.034"
                   style="enable-background:new 0 0 551.034 551.034;" xml:space="preserve">
                      <g>

                      		<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="275.517" y1="4.57"
                                          x2="275.517"
                                          y2="549.72" gradientTransform="matrix(1 0 0 -1 0 554)">
                      		<stop offset="0" style="stop-color:#E09B3D"/>
                            <stop offset="0.3" style="stop-color:#C74C4D"/>
                            <stop offset="0.6" style="stop-color:#C21975"/>
                            <stop offset="1" style="stop-color:#7024C4"/>
                      	</linearGradient>
                        <path style="fill:url(#SVGID_1_);"
                              d="M386.878,0H164.156C73.64,0,0,73.64,0,164.156v222.722   c0,90.516,73.64,164.156,164.156,164.156h222.722c90.516,0,164.156-73.64,164.156-164.156V164.156   C551.033,73.64,477.393,0,386.878,0z M495.6,386.878c0,60.045-48.677,108.722-108.722,108.722H164.156   c-60.045,0-108.722-48.677-108.722-108.722V164.156c0-60.046,48.677-108.722,108.722-108.722h222.722   c60.045,0,108.722,48.676,108.722,108.722L495.6,386.878L495.6,386.878z"/>

                        <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="275.517" y1="4.57" x2="275.517"
                                        y2="549.72" gradientTransform="matrix(1 0 0 -1 0 554)">
                      		<stop offset="0" style="stop-color:#E09B3D"/>
                          <stop offset="0.3" style="stop-color:#C74C4D"/>
                          <stop offset="0.6" style="stop-color:#C21975"/>
                          <stop offset="1" style="stop-color:#7024C4"/>
                      	</linearGradient>
                        <path style="fill:url(#SVGID_2_);"
                              d="M275.517,133C196.933,133,133,196.933,133,275.516s63.933,142.517,142.517,142.517   S418.034,354.1,418.034,275.516S354.101,133,275.517,133z M275.517,362.6c-48.095,0-87.083-38.988-87.083-87.083   s38.989-87.083,87.083-87.083c48.095,0,87.083,38.988,87.083,87.083C362.6,323.611,323.611,362.6,275.517,362.6z"/>

                        <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="418.31" y1="4.57" x2="418.31"
                                        y2="549.72"
                                        gradientTransform="matrix(1 0 0 -1 0 554)">
                      		<stop offset="0" style="stop-color:#E09B3D"/>
                          <stop offset="0.3" style="stop-color:#C74C4D"/>
                          <stop offset="0.6" style="stop-color:#C21975"/>
                          <stop offset="1" style="stop-color:#7024C4"/>
                      	</linearGradient>
                        <circle style="fill:url(#SVGID_3_);" cx="418.31" cy="134.07" r="34.15"/>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                      </svg>
            </a>
            <a target="_blank" href="">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                   id="Capa_1" x="0px" y="0px" viewBox="0 0 455.73 455.73"
                   style="enable-background:new 0 0 455.73 455.73;" xml:space="preserve">
                      <path style="fill:#3A559F;"
                            d="M0,0v455.73h242.704V279.691h-59.33v-71.864h59.33v-60.353c0-43.893,35.582-79.475,79.475-79.475  h62.025v64.622h-44.382c-13.947,0-25.254,11.307-25.254,25.254v49.953h68.521l-9.47,71.864h-59.051V455.73H455.73V0H0z"/>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                      </svg>
            </a>-->
            <a target="_blank" href="">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                   id="Capa_1" x="0px" y="0px" viewBox="0 0 455.731 455.731"
                   style="enable-background:new 0 0 455.731 455.731;" xml:space="preserve">
                      <g>
                      	<rect x="0" y="0" style="fill:#44678D;" width="455.731" height="455.731"/>
                        <path style="fill:#FFFFFF;"
                              d="M118.06,138.69c10.922,26.972,24.764,52.402,42.995,75.231c2.418,3.038,5.466,5.739,8.677,7.938   c4.69,3.221,9.115,2.089,11.022-3.276c2.017-5.63,3.868-17.04,3.978-22.952c0.301-15.448-0.045-25.572-0.875-41.001   c-0.538-9.882-4.051-18.559-18.587-21.178c-4.489-0.812-4.906-4.507-2.022-8.193c6.004-7.674,14.368-8.897,23.438-9.381   c14.7-0.794,29.454-0.146,44.172,0c5.995,0.055,12.026,0.538,17.93,1.825c7.701,1.679,11.825,7.081,13.094,14.599   c0.657,3.878,0.995,7.865,0.903,11.789c-0.383,16.862-1.195,33.715-1.387,50.568c-0.082,6.615,0.401,13.395,1.816,19.837   c1.98,8.978,8.093,11.232,14.344,4.745c7.938-8.239,14.937-17.51,21.506-26.926c11.935-17.127,20.849-35.923,28.523-55.303   c3.969-10,7.008-12.172,17.765-12.199c20.22-0.046,40.44-0.064,60.66,0c3.586,0.018,7.336,0.356,10.721,1.433   c5.493,1.752,7.674,6.232,6.387,11.917c-3.002,13.322-10.201,24.645-17.911,35.531c-12.373,17.464-25.339,34.509-38.003,51.772   c-1.615,2.199-3.038,4.544-4.362,6.925c-4.736,8.559-4.407,13.358,2.5,20.484c10.995,11.342,22.766,21.953,33.414,33.605   c7.738,8.477,14.9,17.674,21.032,27.355c7.756,12.245,2.965,23.778-11.524,25.831c-9.115,1.287-53.641,0.01-55.942,0   c-11.971-0.054-22.464-4.206-30.914-12.336c-9.398-9.051-17.939-18.979-26.963-28.423c-2.719-2.847-5.621-5.575-8.75-7.957   c-7.382-5.63-14.627-4.38-18.076,4.289c-2.947,7.446-5.493,26.999-5.612,28.669c-0.62,8.732-6.177,14.298-15.959,14.836   c-28.24,1.533-55.605-1.615-81.098-15.274c-21.607-11.57-38.861-27.93-53.807-47.009c-23.742-30.304-42.495-63.615-59.616-97.904   c-0.875-1.753-18.216-38.653-18.682-40.396c-1.549-5.836-0.104-11.411,4.827-13.33c3.074-1.196,60.248-0.004,61.199,0.047   C107.996,125.372,114.217,129.221,118.06,138.69z"/>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                <g>
                      </g>
                      </svg>
            </a>
          </div>
        </div>
        <div class="contactsList-items">
          <div class="contactsList-items-title">
            Офис
          </div>
          <div class="contactsList-items-item">
            Poland 65-066 ZIELONA GÓRA <br>
            STEFANA ŻEROMSKIEGO 17<br>
            KRS: <b>0000895014</b><br>
            NIP: <b>9241917489</b><br>
            Regon: <b>388663330</b>
          </div>
        </div>
        <div class="contactsList-items">
          <div class="contactsList-items-title">
            Режим работы
          </div>
          <div class="contactsList-items-item">
            ПН-ПТ: 10:00 - 19:00
          </div>
          <div class="contactsList-items-item">
            СБ-ВС: выходной
          </div>
        </div>
      </div>
    </div>
    <div class="contactsBottom">
      <div class="wrapper">
        <div class="copyright">
          &copy; Varces 2021-2022
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.box7 {
  background-color: #e8e8e8;
  padding: 40px 0 0;
  @media (min-width: 990px) {
    padding: 92px 0 0
  }
}

.contacts {

  &Top {
    margin-bottom: 30px;
    @media (min-width: 680px) {
      display: flex;
      align-items: flex-end;
      margin-bottom: 72px;
    }

    &Logo {
      flex: none;
      padding-bottom: 20px;
      font: 46px/1 "LucidaGrandeBold";
      letter-spacing: 3px;
      display: flex;
      align-items: flex-end;
      @media (min-width: 680px) {
        margin-right: 70px;
        padding-bottom: 0;
      }

      img {
        display: block;
        height: auto;
        width: 64px
      }

      span {
        margin: 0 0 0 -3px;
      }
    }

    &Slogan {
      color: black;
      font-size: 18px;
      line-height: 1.4;
    }
  }

  &List {
    margin: 0;
    padding-bottom: 44px;
    @media (min-width: 480px) {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      margin: 0 -10px 0;
    }

    &-items {
      margin-bottom: 20px;
      @media (min-width: 480px) {
        flex: none;
        width: 50%;
        padding: 0 10px;
      }
      @media (min-width: 820px) {
        width: 33.33%;
      }

      @media (min-width: 1100px) {
        width: 25%;
      }

      &-title {
        font: 18px/1.55 "font-bold";
        margin-bottom: 10px;
      }

      &-item {
        font-size: 20px;
        line-height: 1.55;
        color: rgba(0, 0, 0, 0.8);
        margin-bottom: 10px;

        a {
          color: rgba(0, 0, 0, 0.8);
          text-decoration: none;

          &.viber {
            position: relative;
            padding-left: 30px;

            &::before {
              content: '';
              position: absolute;
              width: 25px;
              height: 25px;
              left: 0;
              top: 50%;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
              border-radius: 5px;
              overflow: hidden;
              background-repeat: no-repeat;
              background-attachment: scroll;
              background-position: 50% 50%;
              background-color: transparent;
              background-size: 34px 34px;
              background-image: url("../assets/images/viber.svg")
            }
          }
        }
      }

      .orderLink {
        background-color: #383838;
        font: 18px/1 "font-bold";
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 30px;
        margin: 24px 0 0;
        width: 100%;
        max-width: 200px;
        text-align: center;
        padding: 14px 10px 16px;
        position: relative;
        box-sizing: border-box;
        overflow: hidden;

        span {
          display: block;
          position: relative;
          z-index: 2;
        }
      }
    }
  }

  &Bottom {
    padding: 5px 0;
    background-color: green;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .copyright {
      color: rgba(255, 255, 255, 0.8);
      font-size: 14px;
      line-height: 1.55;
    }
  }
}
</style>