<template>
  <box-one />
 <about-our-work />
  <vacancy />
  <partners />
  <text-about />
  <contacts />
</template>

<script setup>
import { ref } from 'vue'
import BoxOne from "./boxOne.vue";
import Partners from "./partners.vue";
import AboutOurWork from "./aboutOurWork.vue";
import Vacancy from "./vacancy.vue";
import TextAbout from "./textAbout.vue";
import Contacts from "./contacts.vue";

defineProps({
  msg: String
})

const count = ref(0)
</script>

<style lang="scss" scoped>
a {
  color: #42b983;
}
</style>
