<script>
// Import Swiper Vue.js components
import {Navigation} from 'swiper';
import {Swiper, SwiperSlide} from 'swiper/vue'

// Import Swiper styles
import 'swiper/scss';
import 'swiper/scss/navigation';

import VueEasyLightbox from 'vue-easy-lightbox';


export default {
  name: "partners",
  components: {
    Swiper,
    SwiperSlide,
    VueEasyLightbox,
  },
  data: () => ({
    visible: false,
    index: 0, // default: 0
    imgs: [
      '/src/assets/images/worcs/worcs1.png',
      '/src/assets/images/worcs/worcs2.jpg',
      '/src/assets/images/worcs/worcs3.jpg',
      '/src/assets/images/worcs/worcs4.jpg',
      '/src/assets/images/worcs/worcs5.jpg',
    ]
  }),
  props: {},
  methods: {
    showImg(index) {
      this.index = index
      this.visible = true
    },
    handleHide() {
      this.visible = false
    }
  },
  setup() {
    const onSwiper = (swiper) => {
      console.log(swiper);
    };
    const onSlideChange = () => {
      console.log('slide change');
    };
    return {
      onSwiper,
      onSlideChange,
      modules: [Navigation],

      breakpoints: {
        0: {
          slidesPerView: 1,
        },
        480: {
          slidesPerView: 2,
        },
        900: {
          slidesPerView: 3,
        }
      }

    };
  },
};
</script>

<template>
  <div id="partners" class="box5 anchor blueBox">
    <div class="wrapper">
      <h2>
        Наши партнеры
      </h2>
      <div class="blockProject">
        <swiper
          :modules="modules"
          :breakpoints="breakpoints"
          :slides-per-view="3"
          :space-between="30"
          :loop="false"
          navigation
          class="projectBox">
          <swiper-slide
            v-for="(src, index) in imgs"
            :key="index"
            class="pic"
            @click="() => showImg(index)"
          >
            <img :src="src"/>
          </swiper-slide>
        </swiper>
      </div>
      <div>

        <!-- all props & events -->
        <vue-easy-lightbox
          :visible="visible"
          :imgs="imgs"
          :index="index"
          @hide="handleHide"
        ></vue-easy-lightbox>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.box5 {
  overflow: hidden
}
.blockProject {
  max-width: 1676px;
  margin: 0 auto 18px;
  @media (min-height: 1200px) {
    margin: 0 auto;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: green;
  }
  .swiper-wrapper {
    display: flex;
    align-items: stretch;
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      height: auto;
      overflow: hidden;
      &.pic {
        cursor: pointer;
        &:hover {
          img {
            transform: scale(1.2);
          }
        }
      }
      a {
        width: 100%;
        height: 100%;
        display: block;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.4s ease
      }
    }
  }
}
</style>