<script>
  // Import Swiper Vue.js components
  import { EffectFade, Autoplay } from 'swiper';
  import { Swiper, SwiperSlide } from 'swiper/vue'
  // import work1 from '../assets/images/work1.jpg'

  // Import Swiper styles
  import 'swiper/scss';
  import 'swiper/scss/effect-fade';
  import 'swiper/scss/autoplay';

  export default {
    components: {
      Swiper,
      SwiperSlide,
    },
    data: () => ({
      index: 0, // default: 0
      imgsTop: [
        '/src/assets/images/work3.jpg',
        '/src/assets/images/work4.jpg',
      ]
    }),
    setup() {
      const onSwiper = (swiper) => {
        console.log(swiper);
      };
      const onSlideChange = () => {
        console.log('slide change');
      };
      return {
        onSwiper,
        onSlideChange,
        EffectFade,
        Autoplay,
      };
    },
  };
</script>

<template>
  <swiper
    :modules="[EffectFade, Autoplay]"
    effect="fade"
    :autoplay="{ delay: 3000 }"
    :slides-per-view="1"
    :space-between="50"
    @swiper="onSwiper"
    @slideChange="onSlideChange"
    class="swiperServices"
  >
    <swiper-slide
    class="slideServices"
    v-for="(src, index) in imgsTop"
    :key="index"
    :style="{ backgroundImage: `url('${src}')` }">
    </swiper-slide>
  </swiper>
</template>

<style scoped>

</style>