<script>
export default {
  name: "textAbout",
  data: () => ({
    opisanieVisibility: false,
  }),
  methods: {
    hideOpisanie() {
      this.opisanieVisibility = !this.opisanieVisibility;
    },
  },
  computed: {
    btnText: function () {
      if (this.opisanieVisibility) {
        return 'Скрыть'
      }
      return 'Читать далее'
    },
  },
}
</script>

<template>
  <div class="box6 anchor">
    <div class="wrapper">
      <div data-aos="zoom-in-up" class="textAbout">
        <h1>Почему мы предлагаем довериться именно нашей компании?</h1>
        <p>
          VARCES предоставляет комплексную помощь работодателям в поиске сотрудников, а нашим сотрудникам обрести надежных работодателей, с которыми они будут сотрудничать долгие годы.
        </p>
        <div class="textAboutHide" v-if="opisanieVisibility">
          <p>
            Мы предлагаем довериться команде, которая подберет работу именно для вас, к каждому клиенту у нас индивидуальный подход.
          </p>
          <p>
            Окажем помощь в оформлении всех необходимых документов такие как виза, страховка, karta pobyta, pesel, А1, zezwolenie na pracę typu A. Так же всем нашим сотрудникам делаем медицинское обследование перед выходом на работу.
          </p>
          <p>
            Мы лицензированная компания, которая сотрудничает только с надежными и проверенными работодателями, которые достойно оценят ваш труд.
          </p>
          <p>
            Ищите временную или на постоянной основе работу? Вы обратились правильно, у нас есть работа для Вас!
          </p>
        </div>
        <span
          class="textAboutMore"
          @click="hideOpisanie">
          {{ btnText }}
        </span>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.box6 {
  background: url("../assets/images/atlas2.jpg") no-repeat fixed 50% 50% transparent;
  background-size: cover;
  position: relative;
  color: white;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 128, 0, 0.6);
  }
}

.textAbout {
  h1 {
    font-size: 30px;
    line-height: 1.35;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 2rem;
    padding: 0;
  }

  h2 {
    font-size: 24px;
    line-height: 1.35;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 2rem;
    padding: 0;
  }

  &Hide {
   // display: none;
  }

  &More {
    cursor: pointer;
    line-height: 1;
    color: white;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 3px;
      left: 0;
      width: 100%;
      height: 0;
      border-bottom: 1px white dashed;
    }

    &::after {
      content: '\00BB';
      position: absolute;
      top: 3px;
      left: 100%;
      margin-left: 5px;
    }

    &:hover {
      color: white;
      opacity: 0.7;

      &::before {
        border-bottom-color: white;
      }
    }
  }
}
</style>