<template>
  <div id="vacancy" class="box3 anchor">
    <div class="wrapper">
      <h2>
        Наши вакансии
      </h2>
      <vacancy-card
        v-for="(n, i) in items"/>
    </div>
  </div>
</template>
<script>
import vacancyCard from "./vacancyCard.vue";

export default {
  name: "vacancy",
  components: {
    vacancyCard,
  },

  data: () => ({
    items: Array(4),
  }),
  methods: {},
  computed: {},
}
</script>
<style lang="scss">
.box3 {
  background-color: #FFF5E4
}

.vacancyBox {
  padding: 25px 20px;
  border-radius: 5px;
  margin-bottom: 50px;
  background-color: white;
  border: 1px solid green;
  position: relative;
  text-align: left;

  &:hover {
    box-shadow: 0 1px 12px 0 green;
  }

  &.urgently {
    &::before {
      content: 'Срочно';
      position: absolute;
      right: -8px;
      top: 10px;
      color: white;
      font: 14px/1 'Arial';
      padding: 4px 10px 5px;
      background-color: orangered;
    }
  }

  &Heading {
    font: 18px/1 'font-regular';

    &Rate {
      margin-bottom: 10px;

      span {
        display: inline-block;
        color: white;
        border-radius: 5px;
        background: url("../assets/images/money.png") no-repeat scroll 10px 50% green;
        background-size: 16px auto;
        padding: 5px 10px 5px 40px;
        font: 700 18px/1 'Arial';
      }
    }
  }

  .title3 {
    font: 24px/1 'font-bold';
    margin-bottom: 12px;
  }

  .country {
    margin: 0 10px 0 12px;
    display: inline-block;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0 50%;
    background-size: 16px 11px;
    background-color: transparent;

    &.pl {
      background-image: url("../assets/images/pl.png");
    }

    &.de {
      background-image: url("../assets/images/de.png");
    }
  }

  &Title {
    font: 18px/1 'font-bold';
    margin-bottom: 10px;
    padding-top: 10px;
  }

  &Text {
    margin-bottom: 15px;
  }

  &List {
    margin-bottom: 15px;

    li::before {
      content: '\2714';
      color: green;
    }
  }

  &Contact {
    a {
      color: green;
      text-decoration: none;
      font: 18px/30px 'font-regular';
      padding: 5px 0 5px 30px;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: 0 50%;
      background-size: 25px 25px;
      background-color: transparent;
      display: inline-block;
      width: 120px;

      &.phone {
        background-image: url("../assets/images/phone.svg");
      }

      &.viber {
        background-image: url("../assets/images/viber.svg");
      }
    }
  }

  &Hide {
    //display: none;
  }

  &More {
    cursor: pointer;
    line-height: 1;
    color: green;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 3px;
      left: 0;
      width: 100%;
      height: 0;
      border-bottom: 1px green dashed;
    }

    &::after {
      content: '\00BB';
      position: absolute;
      top: 3px;
      left: 100%;
      margin-left: 5px;
    }

    &:hover {
      color: green;
      opacity: 0.7;

      &::before {
        border-bottom-color: green;
      }
    }
  }
}
</style>