<template>
  <div class="vacancyBox urgently">
    <div class="vacancyBoxHeading">
      <div class="title3">
        Кровельщики, Внутрянщики, Гипсокартонщики, Маляры, Штукатуры, Электрики, Сварщики с опытом работы!
      </div>
      <div class="vacancyBoxHeadingRate"><span>8-9-10 €/час.</span></div>
      <span
          v-for="country in countriesData"
          :key="country"
          v-html="setCountries(country)"/>
    </div>
    <div class="vacancyBoxHide" v-if="descriptionVisibility">
      <div class="vacancyBoxTitle">
        Условия:
      </div>
      <ul class="vacancyBoxList">
        <li>
          жильё: может быть бесплатным, а может от 250-350€ в месяц в зависимости от объекта.
        </li>
        <li>
          берем по польской визе, картам побыта, картам сталого побыта, паспорта ЕС. Предоставляем полный пакет
          документов
        </li>
        <li>
          заключаем трудовой договор - умову о праце- умову злецення, также оформляем командировочный лист и
          медицинскую
          страховку А1- 200€ из зарплаты, и все сопутствующие документы.
        </li>
      </ul>
      <div class="vacancyBoxTitle">
        Оплата:
      </div>
      <ul class="vacancyBoxList">
        <li>
          сначала 8-9-10 €/час
        </li>
        <li>
          аванс есть после отработанной недели
        </li>
      </ul>
      <div class="vacancyBoxTitle">
        Рабочий график:
      </div>
      <ul class="vacancyBoxList">
        <li>
          10 часов в день, 6 дней в неделю
        </li>
        <li>
          есть возможность вырабатывать до 250 часов в месяц
        </li>
      </ul>
      <ul class="vacancyBoxContact">
        <li>
          <a class="phone" href="tel:+48669736249">Krystyna</a> <a class="viber"
                                                                   href="viber://chat?number=%2B48669736249">Krystyna</a>
        </li>
        <li>
          <a class="phone" href="tel:+48720754337">Olha</a> <a class="viber"
                                                               href="viber://chat?number=%2B48720754337">Olha</a>
        </li>
      </ul>
    </div>
    <span
      class="vacancyBoxMore"
      @click="hideOpisanie">
            {{ descriptionVisibility ?  'Скрыть' : 'Читать далее'}}
          </span>
  </div>
</template>

<script>
export default {
  name: "vacancyCard",
  data: () => ({
    descriptionVisibility: false,
    countriesData: ['pl', 'de']
  }),
  created() {

  },
  methods: {
    hideOpisanie(e) {
      this.descriptionVisibility = !this.descriptionVisibility;
      if (this.descriptionVisibility) {
        window.scrollTo(0 ,e.currentTarget.getBoundingClientRect().top + pageYOffset - 200);
      }
    },
    setCountries: (country = '') => {
      switch (country){
        case 'pl':
          return  '<span class="country pl">Польша</span>'
          break;
        case 'de':
          return '<span class="country de">Германия</span>'
          break;
      }
    }
  },
  computed: {

  },
  props: {
    post: [
      {
        title: "img's",
        src: '/src/assets/images/worcs/worcs1.png'
      },
      {
        title: "There is img's description",
        src: '/src/assets/images/worcs/worcs2.jpg'
      },
      {
        title: "There is img's description",
        src: '/src/assets/images/worcs/worcs3.jpg'
      },
      {
        title: "There is img's description",
        src: '/src/assets/images/worcs/worcs4.jpg'
      },
      {
        title: "There is img's description",
        src: '/src/assets/images/worcs/worcs5.jpg'
      },
    ]
  },
}
</script>

<style scoped>

</style>