@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

body {
  line-height: 1
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

* {
  box-sizing: border-box
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

.clear {
  clear: both
}

b, strong {
  font-weight: bold
}

img {
  border: none
}

a {
  outline: none;
  text-decoration: underline
}

a:hover {
  text-decoration: none
}

*:focus {
  outline: none
}

input[type=text] {
  outline: none
}

input[type="text"]:focus {
  outline: none
}

input[type="text"]::-webkit-input-placeholder {
  opacity: 1
}

input[type="text"]::-moz-placeholder {
  opacity: 1
}

input[type="text"]:-moz-placeholder {
  opacity: 1
}

input[type="text"]:-ms-input-placeholder {
  opacity: 1
}

b, strong, .strong {
  font-weight: 700;
}

html {
  height: 100%;
  font-size: 20px
}

@font-face {
  font-family: 'font-regular';
  src: url(../assets/fonts/FuturaPT-Demi.eot);
  src: url(../assets/fonts/FuturaPT-Demi.eot?#iefix) format('embedded-opentype'),
  url(../assets/fonts/FuturaPT-Demi.svg) format('svg'),
  url(../assets/fonts/FuturaPT-Demi.ttf) format('truetype'),
  url(../assets/fonts/FuturaPT-Demi.woff) format('woff'),
  url(../assets/fonts/FuturaPT-Demi.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font-light';
  src: url(../assets/fonts/FuturaPT-Light.eot);
  src: url(../assets/fonts/FuturaPT-Light.eot?#iefix) format('embedded-opentype'),
  url(../assets/fonts/FuturaPT-Light.svg) format('svg'),
  url(../assets/fonts/FuturaPT-Light.ttf) format('truetype'),
  url(../assets/fonts/FuturaPT-Light.woff) format('woff'),
  url(../assets/fonts/FuturaPT-Light.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font-bold';
  src: url(../assets/fonts/FuturaPT-Book.eot);
  src: url(../assets/fonts/FuturaPT-Book.eot?#iefix) format('embedded-opentype'),
  url(../assets/fonts/FuturaPT-Book.svg) format('svg'),
  url(../assets/fonts/FuturaPT-Book.ttf) format('truetype'),
  url(../assets/fonts/FuturaPT-Book.woff) format('woff'),
  url(../assets/fonts/FuturaPT-Book.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'LucidaGrandeBold';
  src: url(../assets/fonts/Lucida-Grande-Bold.eot);
  src: url(../assets/fonts/Lucida-Grande-Bold.eot?#iefix) format('embedded-opentype'),
  url(../assets/fonts/Lucida-Grande-Bold.otf) format('otf'),
  url(../assets/fonts/Lucida-Grande-Bold.svg) format('svg'),
  url(../assets/fonts/Lucida-Grande-Bold.ttf) format('truetype'),
  url(../assets/fonts/Lucida-Grande-Bold.woff) format('woff');
  font-display: swap;
}

body {
  font: 1rem/1.45 'font-regular', "Arial", Helvetica, sans-serif;
  width: 100%;
  color: black;
  margin: 0;
  padding: 0;
  min-width: 320px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

@media all and (min-width: 1230px) {
  body {
    height: 100%
  }
}

a {
  transition: all 0.4s ease
}

a[href^="tel:"] {
  white-space: nowrap
}

p {
  margin-bottom: 18px
}

.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1730px
}

.wrapperMin {
  max-width: 1330px
}

@media (min-width: 520px) {
  .wrapper {
    padding: 0 15px
  }
}

.go {
  cursor: pointer
}

h2, .title2 {
  text-align: center;
  font: 52px/1 "font-light";
  padding: 0 0 40px;
  margin: 0
}

@media (min-width: 680px) {
  h2, .title2 {
    font-size: 60px;
    line-height: 1
  }
}

@media (min-width: 990px) {
  h2, .title2 {
    font-size: 90px;
    line-height: 83px
  }
}

.center {
  text-align: center
}

.boxPadding, .box2, .box3, .box4, .box5, .box6 {
  padding: 60px 0 60px
}

@media (min-height: 700px) {
  .boxPadding, .box2, .box3, .box4, .box5, .box6 {
    padding: 97px 0 100px
  }
}

.bigText {
  font-size: 24px;
  line-height: 1.5;
  margin: 0 auto 40px
}

.subTitle {
  font-size: 36px;
  line-height: 1.5;
  max-width: 730px;
  margin: 0 auto 40px
}

.blueBox {
  background-color: #ebf2f5
}

.orderLinkMin, .box1 .boxTopInnerRight .orderLink, .box1 .boxTop.fixed .boxTopInnerRight .orderLink {
  background-color: #00B800;
  font-size: 16px;
  line-height: 30px;
  color: white;
  text-decoration: none;
  border: 1px white solid;
  margin: 0 0 0 14px;
  text-align: center;
  padding: 0 20px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  white-space: nowrap;
  flex: none
}

.orderLinkMin::before, .box1 .boxTopInnerRight .orderLink::before, .box1 .boxTop.fixed .boxTopInnerRight .orderLink::before {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  transition: .2s ease-in-out
}

.orderLinkMin:hover, .box1 .boxTopInnerRight .orderLink:hover, .box1 .boxTop.fixed .boxTopInnerRight .orderLink:hover {
  color: green
}

.orderLinkMin:hover::before, .box1 .boxTopInnerRight .orderLink:hover::before, .box1 .boxTop.fixed .boxTopInnerRight .orderLink:hover::before {
  width: 100%
}

.orderLinkMin span, .box1 .boxTopInnerRight .orderLink span, .box1 .boxTop.fixed .boxTopInnerRight .orderLink span {
  display: block;
  position: relative;
  z-index: 2
}

.column4 {
  margin-bottom: 50px
}

@media (min-width: 540px) {
  .column4 {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 18px;
    column-gap: 18px
  }
}

@media (min-width: 740px) {
  .column4 {
    -webkit-column-count: 3;
    column-count: 3
  }
}

@media (min-width: 990px) {
  .column4 {
    -webkit-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 30px;
    column-gap: 30px
  }
}

.column4Item {
  display: inline-block
}

.column5 {
  margin-bottom: 50px
}

@media (min-width: 540px) {
  .column5 {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 18px;
    column-gap: 18px
  }
}

@media (min-width: 740px) {
  .column5 {
    -webkit-column-count: 3;
    column-count: 3
  }
}

@media (min-width: 990px) {
  .column5 {
    -webkit-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 30px;
    column-gap: 30px
  }
}

@media (min-width: 1200px) {
  .column5 {
    -webkit-column-count: 5;
    column-count: 5;
    -webkit-column-gap: 30px;
    column-gap: 30px
  }
}

.column5Item {
  display: inline-block
}

.revealOnScroll {
  opacity: 0
}

.boxHidded {
  visibility: hidden
}

.fadeInUp, .fadeOutDown {
  visibility: visible
}

.delay-05s {
  -webkit-animation-delay: .5s;
  animation-delay: .5s
}

.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s
}

.box1 {
  height: 100vh;
  min-height: 480px;
  position: relative;
  width: 100%;
  overflow: hidden
}

@media (min-width: 820px) {
  .box1 {
    min-height: 600px
  }
}

.box1 .videoBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 50%;
  background-color: transparent;
  background-size: cover
}

@media (min-aspect-ratio: 16 / 9) {
  .box1 .videoBg {
    height: 300%;
    top: -100%
  }
}

@media (max-aspect-ratio: 16 / 9) {
  .box1 .videoBg {
    width: 300%;
    left: -100%
  }
}

@supports ((-o-object-fit:cover) or (object-fit:cover)) {
  .box1 .videoBg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
  }
}

.box1 .swiperServices {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0
}

.box1 .swiperServices .swiper-slide {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 50%;
  background-color: transparent;
  background-size: cover;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.box1 .logoBig {
  display: flex;
  align-items: flex-end;
  position: absolute;
  left: 10px;
  top: 75px;
  z-index: 3;
  font: 58px/1 "LucidaGrandeBold";
  letter-spacing: 3px;
  color: white
}

@media (min-width: 820px) {
  .box1 .logoBig {
    color: rgba(255, 255, 255, 0.8);
    left: 24px
  }
}

@media (min-width: 920px) {
  .box1 .logoBig {
    left: 62px;
    top: 75px
  }
}

.box1 .logoBig img {
  display: block;
  height: auto;
  width: 100px
}

.box1 .logoBig span {
  margin: 0 0 0 -10px
}

.box1 .logo {
  position: relative;
  display: none
}

.box1 .logo a {
  display: flex;
  align-items: flex-end;
  font: 30px/1 "LucidaGrandeBold";
  letter-spacing: 3px;
  color: white;
  text-decoration: none
}

@media (min-width: 820px) {
  .box1 .logo a {
    color: rgba(255, 255, 255, 0.8)
  }
}

.box1 .logo a img {
  display: block;
  height: 30px;
  width: auto
}

.fixed .box1 .logo {
  display: block
}

.box1 .topMenu {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;
  position: absolute;
  top: calc(100% + 10px);
  background-color: green;
  padding: 10px 20px;
  width: calc(100% + 30px);
  left: -150%;
  transition: left 0.8s ease;
  z-index: 2
}

@media (min-width: 680px) {
  .box1 .topMenu {
    flex-direction: row;
    position: relative;
    z-index: 5;
    padding: 0;
    top: auto;
    background-color: transparent;
    width: 100%;
    left: auto
  }
}

@media (min-width: 820px) {
  .box1 .topMenu {
    flex-direction: column
  }
}

.box1 .topMenu::after {
  content: '';
  position: absolute;
  right: 80px;
  top: 2px;
  width: 2px;
  height: 400px;
  background-color: white;
  -webkit-transform: skew(162.2deg);
  transform: skew(162.2deg);
  display: none
}

.box1 .topMenu li {
  padding: 0
}

@media (min-width: 680px) {
  .box1 .topMenu li {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 10px
  }
}

@media (min-width: 820px) {
  .box1 .topMenu li {
    padding-bottom: 17px;
    padding-right: 0
  }
}

.box1 .topMenu li.liLogo {
  display: flex;
  align-items: flex-end
}

.box1 .topMenu li.liLogo a:before {
  display: none
}

.box1 .topMenu li.liLogo img {
  display: block;
  height: auto;
  width: 100px
}

.box1 .topMenu li.liLogo span {
  margin: 0 0 0 -10px
}

@media (min-width: 680px) {
  .box1 .topMenu li.liLogo {
    display: none
  }
}

.box1 .topMenu li a {
  color: white;
  font-size: 20px;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  position: relative
}

@media (min-width: 680px) {
  .box1 .topMenu li a {
    font-size: 16px
  }
}

@media (min-width: 820px) {
  .box1 .topMenu li a {
    font-size: 20px
  }
}

@media (min-width: 920px) {
  .box1 .topMenu li a {
    font-size: 24px
  }
}

.box1 .topMenu li a::before {
  content: '';
  width: 0;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  transition: width .5s ease-in-out
}

.box1 .topMenu li a.active::before {
  width: 100%
}

.box1 .topMenu li a:hover::before {
  width: 100%
}

.box1 .topMenu.open {
  left: -15px;
  border-top: 1px white solid
}

@media (min-width: 820px) {
  .box1 .topMenu.open {
    border-top: none
  }
}

@media (min-width: 680px) {
  .box1 .topMenu.open {
    left: auto
  }
}

.box1 .topMenu.open li {
  margin-bottom: 20px
}

@media (min-width: 820px) {
  .box1 .topMenu.open li {
    margin-bottom: 0
  }
}

.box1 .openMenu {
  width: 40px;
  height: 26px;
  transition: .5s ease-in-out;
  cursor: pointer;
  position: relative;
  margin-left: -8px;
  display: block
}

@media (min-width: 680px) {
  .box1 .openMenu {
    display: none
  }
}

.box1 .openMenu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 60%;
  background: #ffffff;
  border-radius: 3px;
  opacity: 1;
  left: 20%;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: .25s ease-in-out
}

.box1 .openMenu span:nth-child(1) {
  top: 5px
}

.box1 .openMenu span:nth-child(2), .box1 .openMenu span:nth-child(3) {
  top: 12px
}

.box1 .openMenu span:nth-child(4) {
  top: 19px
}

.box1 .openMenu.open span:nth-child(1) {
  top: 12px;
  width: 0;
  left: 50%
}

.box1 .openMenu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.box1 .openMenu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.box1 .openMenu.open span:nth-child(4) {
  top: 12px;
  width: 0;
  left: 50%
}

.box1 .boxTop {
  background: green;
  position: fixed;
  left: -20px;
  top: 0;
  width: calc(100% + 40px);
  height: auto;
  justify-content: space-between;
  z-index: 10;
  padding: 10px 30px
}

@media (min-width: 820px) {
  .box1 .boxTop {
    transition: left 0.8s ease;
    background: linear-gradient(90deg, green 0, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    width: auto;
    padding: 0 100px 0 0;
    height: 100%
  }
}

.box1 .boxTopInner {
  padding: 0;
  height: 100%;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 4
}

@media (min-width: 820px) {
  .box1 .boxTopInner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    z-index: 4;
    padding: 190px 0 13px;
    margin-left: 64px
  }
}

@media (min-width: 920px) {
  .box1 .boxTopInner {
    margin-left: 105px
  }
}

.box1 .boxTopInnerRight {
  display: flex;
  align-items: center
}

@media (min-width: 820px) {
  .box1 .boxTopInnerRight {
    display: none
  }
}

.box1 .boxTopInnerRight .phone {
  color: white;
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
  position: relative
}

@media (min-width: 1100px) {
  .box1 .boxTopInnerRight .phone {
    font-size: 20px
  }
}

.box1 .boxTopInnerRight .phone::before {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  transition: .5s ease-in-out
}

.box1 .boxTopInnerRight .phone:hover::before {
  width: 100%
}

.box1 .boxTop .dopText {
  font: bold 24px/1.1 "font-light";
  color: white;
  padding-bottom: 70px;
  max-width: 260px;
  position: relative;
  z-index: 2;
  display: none
}

@media (min-width: 820px) {
  .box1 .boxTop .dopText {
    display: block;
    font-size: 30px;
    padding-bottom: 0;
    max-width: 100%
  }
}

@media (min-width: 920px) {
  .box1 .boxTop .dopText {
    font-size: 30px
  }
}

@media (min-width: 820px) {
  .box1 .boxTop.leftFixed {
    left: -400%
  }

  .box1 .boxTop.leftFixed.fixed {
    left: -20px
  }
}

.box1 .boxTop.fixed {
  background-color: green;
  position: fixed;
  left: -20px;
  top: 0;
  width: calc(100% + 40px);
  height: auto;
  justify-content: space-between;
  z-index: 10;
  padding: 10px 30px
}

@media (min-width: 820px) {
  .box1 .boxTop.fixed {
    padding: 10px 35px
  }
}

.box1 .boxTop.fixed::before, .box1 .boxTop.fixed::after {
  display: none
}

.box1 .boxTop.fixed .triangleTop, .box1 .boxTop.fixed .triangleArrow, .box1 .boxTop.fixed .boxFonOpen, .box1 .boxTop.fixed .innerOpen {
  display: none
}

.box1 .boxTop.fixed::after {
  display: none
}

.box1 .boxTop.fixed .dopText {
  display: none
}

.box1 .boxTop.fixed .openMenu {
  display: block
}

@media (min-width: 680px) {
  .box1 .boxTop.fixed .openMenu {
    display: none
  }
}

.box1 .boxTop.fixed .boxTopHide {
  left: 0
}

@media (min-width: 920px) {
  .box1 .boxTop.fixed .logo {
    display: flex
  }
}

.box1 .boxTop.fixed .boxTopInner {
  padding: 0;
  width: 100%;
  height: 100%;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 0
}

.box1 .boxTop.fixed .boxTopInner::before, .box1 .boxTop.fixed .boxTopInner::after {
  display: none
}

.box1 .boxTop.fixed .boxTopInnerRight {
  display: flex
}

.box1 .boxTop.fixed .topMenu {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0;
  position: absolute;
  top: calc(100% + 10px);
  background-color: green;
  padding: 10px 20px;
  width: calc(100% + 30px);
  left: -150%;
  transition: left 0.8s ease
}

.box1 .boxTop.fixed .topMenu::after {
  display: none
}

@media (min-width: 680px) {
  .box1 .boxTop.fixed .topMenu {
    padding: 0;
    flex: 1;
    position: relative;
    top: auto;
    width: auto;
    background-color: transparent;
    left: auto;
    flex-direction: row
  }
}

@media (min-width: 920px) {
  .box1 .boxTop.fixed .topMenu {
    padding: 0 0 0 20px
  }
}

.box1 .boxTop.fixed .topMenu li {
  padding: 0
}

@media (min-width: 680px) {
  .box1 .boxTop.fixed .topMenu li {
    margin: 0 10px 0 0
  }
}

@media (min-width: 1100px) {
  .box1 .boxTop.fixed .topMenu li {
    margin: 0 20px 0 0
  }
}

.box1 .boxTop.fixed .topMenu li.liLogo {
  display: block
}

@media (min-width: 680px) {
  .box1 .boxTop.fixed .topMenu li.liLogo {
    display: none
  }
}

.box1 .boxTop.fixed .topMenu li a {
  white-space: nowrap;
  font-size: 20px
}

@media (min-width: 680px) {
  .box1 .boxTop.fixed .topMenu li a {
    font-size: 16px
  }
}

@media (min-width: 1100px) {
  .box1 .boxTop.fixed .topMenu li a {
    font-size: 20px
  }
}

.box1 .boxTop.fixed .topMenu.open {
  left: -15px
}

@media (min-width: 520px) {
  .box1 .boxTop.fixed .topMenu.open {
    border-top: 1px white solid
  }
}

@media (min-width: 820px) {
  .box1 .boxTop.fixed .topMenu.open {
    left: auto;
    border-top: none;
    flex-direction: row
  }
}

.box1 .boxTop.fixed .topMenu.open li {
  margin: 0 0 20px 0
}

@media (min-width: 820px) {
  .box1 .boxTop.fixed .topMenu.open li {
    margin: 0 10px 0 0
  }
}

@media (min-width: 1100px) {
  .box1 .boxTop.fixed .topMenu.open li {
    margin: 0 20px 0 0
  }
}

.boxFonOpen {
  -webkit-transform: skew(162.2deg);
  transform: skew(162.2deg);
  background-color: rgba(12, 68, 87, 0.8);
  width: 46px;
  height: 56px;
  position: absolute;
  cursor: pointer;
  left: -150%;
  top: 58px;
  z-index: 5;
  display: none
}

@media (min-width: 820px) {
  .boxFonOpen {
    display: block
  }
}

.boxFonOpen.open {
  left: -10px
}

.boxFonOpen .clickArrow {
  left: 12px;
  opacity: 0.8
}

.boxFonOpen:hover .clickArrow {
  opacity: 1
}

.click_menu {
  -webkit-transform: skew(197.8deg);
  transform: skew(197.8deg);
  width: 40px;
  height: 34px;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  right: 5px;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 20
}

.click_menu span {
  display: block;
  position: absolute;
  height: 2px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.45);
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: .25s ease-in-out
}

.click_menu span:nth-child(1) {
  top: 12px;
  width: 16px;
  left: 6px;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg)
}

.click_menu span:nth-child(2) {
  top: 16px;
  width: 23px;
  left: 8px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg)
}

.click_menu span:nth-child(3) {
  top: 20px;
  width: 16px;
  left: 6px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg)
}

.click_menu.open span:nth-child(1) {
  left: 16px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg)
}

.click_menu.open span:nth-child(3) {
  left: 16px;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg)
}

.boxTopRight {
  position: absolute;
  left: 35px;
  top: 194px;
  z-index: 5;
  display: none;
  transition: left 0.8s ease
}

@media (min-width: 820px) {
  .boxTopRight {
    right: 15px;
    left: auto;
    top: 58px;
    display: flex;
    align-items: center;
    flex-direction: row
  }

  .boxTopRightHide {
    left: auto
  }
}

.boxTopRight .phone {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: "font-bold";
  line-height: 1;
  position: relative
}

@media (min-width: 820px) {
  .boxTopRight .phone {
    font-size: 24px
  }
}

.boxTopRight .phone::before {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  transition: .5s ease-in-out
}

.boxTopRight .phone:hover::before {
  width: 100%
}

.boxTopRight .orderLink {
  background-color: #00B800;
  font-size: 16px;
  line-height: 38px;
  color: white;
  text-decoration: none;
  border: 1px white solid;
  margin: 0 0 0 14px;
  text-align: center;
  padding: 0 20px 2px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  white-space: nowrap;
  flex: none
}

.boxTopRight .orderLink::before {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  transition: .2s ease-in-out
}

@media (min-width: 820px) {
  .boxTopRight .orderLink::before {
    background: #00B800
  }
}

.boxTopRight .orderLink:hover {
  color: green
}

.boxTopRight .orderLink:hover::before {
  width: 100%
}

@media (min-width: 820px) {
  .boxTopRight .orderLink:hover {
    color: white
  }
}

@media (min-width: 820px) {
  .boxTopRight .orderLink {
    margin: 0 20px;
    background-color: green;
    font-size: 20px;
    line-height: 38px
  }
}

.boxTopRight .orderLink span {
  display: block;
  position: relative;
  z-index: 2
}

.platinumTeam {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px
}

.platinumTeamItem {
  text-align: center;
  padding: 0 10px 40px;
  flex: none;
  max-width: 260px;
  min-width: 260px
}

@media (min-width: 520px) {
  .platinumTeamItem {
    max-width: 300px
  }
}

@media (min-width: 1100px) {
  .platinumTeamItem {
    max-width: 400px
  }
}

.platinumTeamItemImg {
  margin: 0 auto 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 50%;
  background-color: transparent;
  background-size: cover
}

.platinumTeamItemName {
  font: 22px/1.35 "font-bold";
  margin-bottom: 4px
}

.platinumTeamItemDescr {
  font-size: 14px;
  line-height: 1.55;
  color: #7a7a7a
}

.fuuterSocset a {
  display: inline-block;
  margin-right: 10px;
}
.fuuterSocset a svg {
width: 32px;
height: 32px;
}