<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
import './assets/main.scss'
import MainPage from "./components/mainPage.vue";

</script>

<template>
  <main-page />
</template>

<style>

#app {
  overflow: hidden;
}

html, body, #app {
  scroll-behavior: smooth;
}

</style>
